.aboutus {
  height: 278px;
  width: auto;
  margin: auto;
  padding: 56px 128px 56px 128px;
  background-image:url(./images/about-dark.jpg);
  &__item {
    height: 25px;
    width: 1024px;
    margin: auto;
    font-size: 32px;
    line-height: 25px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
  }
  &__content {
    width: 1024px;
    margin: auto;
    margin-top: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    &--text {
      width: 800px;
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
    }

  }
}

.aboutus-left {
    padding: 0px 32px 100px 32px;
}
.aboutus-right {
    padding: 0px 32px 100px 32px;
}
.slick-aboutus .slick-list {
  margin-bottom: 75px;
}
