.review {
  height: 303px;
  width: 1024px;
  margin: auto;
  padding: 56px 128px 56px 128px;
  background: #fff;
  &__item {
    height: 25px;
    font-size: 32px;
    line-height: 25px;
    color: #008e70;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
  }
  &__content {
    margin: auto;
    margin-top: 29px;
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    &--text {
      width: 924px;
      background: #f2f2f2;
      color: #333333;
      font-family: 'Open Sans', sans-serif;
      .review-block1 {
        margin-left: 32px;
        margin-top: 26px;
        font-size: 18px;
      }
      .review-block2 {
        margin-left: 32px;
        margin-top: 22px;
        margin-bottom: 28px;
        font-size: 14px;
        font-style: italic;
      }
    }
  }
  &__button {
    margin-top: 19px;
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    &--write {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 230px;
      height: 58px;
      margin-right: 32px;
      border: 1px solid #f2f2f2;
      background: #4cb050;
      &:hover {
        background: #8cc63f;
        cursor: pointer;
      }
    }
    &--write span {
      text-decoration: none;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      color: #ffffff;
    }
    &--look {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 230px;
      height: 58px;
      border: 1px solid #f2f2f2;
      &:hover {
        background: #e6e6e6;
        cursor: pointer;
      }
    }
    &--look span {
      display: block;
      text-decoration: none;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      color: #333333;
    }
  }
}
.review-slick {
  width: 924px;
}
.review-left {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e6e6e6;
  &:hover {
    background: #ccc;
    cursor: pointer;
  }
}
.review-right {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e6e6e6;
  &:hover {
    background: #ccc;
    cursor: pointer;
  }
}
